@import url('https://fonts.googleapis.com/css?family=Slabo|Amatic+SC|Open+Sans+Condensed:300');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #263238;
  color: #B0BEC5;
  font-size: 1.25em;
}

textarea {
  font-family: 'Open Sans Condensed', sans-serif;
}

.codewrapper {
  margin: 20px;
}

.container {
  margin: 20px;
  background: #37474F;
  border-radius: 10px;
  padding: 20px;
  color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.codeblock {
  display: flex;
  flex-direction: row;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, .05);
  font-size: 1em;
  margin: 20px;
  text-shadow: 1px 1px 1px #000;
}

.linecount {
  background-color: rgba(255, 255, 255, .15);
  padding: 0 10px;
  text-shadow: 1px 1px 1px #000;
}

.code {
  flex: 1;
  padding: 0 10px;
  color: #FFFFFF;
}

.loading {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes toggleMenu {
  0% { -moz-transform: translateX(-100%); }
  100% { -moz-transform: translateX(0); }
}

@-webkit-keyframes toggleMenu {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes toggleMenu {
  0% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
